{{ dump() }}
<table class="table">
    <tr>
        <td>1</td>
        <td>auteur</td>
        <td>recu le 12/02/14</td>
        <td>
            <a href="">voire</a>
            <a href="">supprimer</a>
        </td>
    </tr>
</table>