{% extends "::CoreLayout.html.twig" %}

{% block site_nav %}
{% endblock %}

{% block contenue %}
    <div class="col-lg-12 col-sm-12 col-xs-12" style="padding: 5px 30px;">
        <div class="well" style="background: rgba(255,255,255,0.5);">
            {% block membre_body %}
                {% block fos_body %}
                    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
                    {% for key, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ key }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                {% endblock %}

                {% block user_body %}
                    {% for key, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ key }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block membre_content %}
                    {% endblock %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}